body {
  font-family: 'Indie Flower', cursive;
}

.title {
  margin: 0;
  padding: 0;
  text-align: center;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to right, red, yellow, red, yellow, red);
  font-size: 350px;
}
.timer {
  display: flex;
  justify-content: center;
}

.field {
  margin-right: 20px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.value {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to right, red, rgb(194, 194, 4));
  font-size: 150px;
}

.label {
  color: transparent;
  font-size: 80px;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(
    to right,
    rgb(202, 202, 13),
    rgb(189, 5, 5)
  );
}
